
<a  href="#/VoteList" class='btn btn-{{className}} pull-bottom-5 ' style='width:100%;'>&laquo; Back to search</a>
<br><br>


<center>
    <a href='#/details/{{nextItem}}' class='btn btn-{{className}} pull-bottom-5 ' > &lt;</a>
    <a href='#/details/{{prevItem}}' class='btn btn-{{className}} pull-bottom-5 '>&gt;</a>
</center>

</br>


<ul class="timeline">
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-{{colorName}} ">
            <i class='fa fa-user'></i> {{Item.first_name}} {{Item.last_name}}
        </span>
    </li>

    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <img class='pp' src='{{path.image_path}}/{{Item.profile_picture}}' style='border-radius:50%;'/>

        <div class="timeline-item" style="margin-top:-60px;" >
            <div  class="box-body " style='background:transparent;'>

                <div  class="panel box box-{{className}} box-solid">
                    <div class="box-header with-border">
                        <div class='arrow border-right-{{className}} pull-left'></div>
                        <h2  class="box-title">
                            {{Item.title}}
                        </h2>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="box-body">

                            <blockquote >

                                <p><div class='qContent' ng-bind-html="Item.content | linky:'_blank'"></div></p>

                            </blockquote>


                            <div ng-repeat=" option in options" >

                                <!--   <!-- ng-if="option.id==selectedOptionId" checked -->

                                <input id="{{option.id}}" type="radio" name="choice"  value="{{ option.description }}"  ng-click="select_choice(option.id)" ng-if="option.id==selectedOptionId" checked/>
                                <input id="{{option.id}}" type="radio" name="choice"  value="{{ option.description }}"  ng-click="select_choice(option.id)" ng-if="option.id!=selectedOptionId"   />

                                {{ option.description }}

                                <div  id="remove" style='margin-left: 10px;' class='btn btn-danger btn-xs' ng-if="Item.user_id==userId" ng-click='delete_choice( option.id  )' >X</div>

                                </br>

                            </div>

                            <hr>
                            previousSelectedOption choice#: {{selectedOptionId}}



                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </li>

    <li>
        <!-- END timeline item -->
        <i class="fa fa-circle-o bg-{{colorName}} "></i>
    </li>

</ul>

<br />


          <!-- DONUT CHART -->
              <div class="box box-primary" style="height:350px;">
                <div class="box-header">
                <i class="fa fa-bar-chart-o"></i>
                  <h3 class="box-title">{{Item.content}}</h3>
                </div>
                <div class="box-body">
                <iframe ng-src="{{Item.chartUrl}}" width="100%" height="300"   scrolling="no" frameBorder="0"></iframe>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
